.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}
.flex-div {
  justify-content: center;
  display: flex;
}
.App-title {
  font-size: 50px;
}

.flex-div-child {
  margin-left: 1.5rem;
}
